.classe1{
    color: brown; 
    font-weight: 800; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 200px;
    }
    .classe2{
    color: blue; 
    font-weight:200; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }